.shoe-card {
    max-width: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.carousel {
    position: relative;
}

.carousel img {
    max-width: 100%;
    margin: 0 10px;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2; /* Ensure buttons appear above the image */
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3f51b5;
}
