@import 'src/styles/buttons.scss';

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-name {
    font-weight: bold;
    font-size: 24px;
}

.spacer {
    flex: 1 1 auto;
}

.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}
