<mat-toolbar color="primary" class="toolbar">
    <span class="app-name">Shoe Spotter</span>
    <span class="spacer"></span>
    <div class="button-group">
        <button mat-button class="custom-button"
            routerLink="/shoes">
            See shoes
        </button>
        <button mat-button class="custom-button"
            routerLink="/upload">
            Upload shoe image
        </button>
        <button mat-button class="custom-button"
            routerLink=".">
            Button 3
        </button>
    </div>
</mat-toolbar>
