<mat-card class="filter-container">
    <h2>Filters</h2>

    <hr class="horizontal-bar">

    <h3>Price</h3>
    <mat-slider
        min="50"
        max="1500"
        step="10">
        <input matSliderStartThumb #minSlider
            [(ngModel)]="minPrice">
        <input matSliderEndThumb #maxSlider
            [(ngModel)]="maxPrice">
    </mat-slider>
    <div class="label-container">
        <label class="value-label">{{minSlider.value}}</label>
        <label class="value-label">{{maxSlider.value}}</label>
    </div>

    <hr class="horizontal-bar">

    <h3>Shoe Type</h3>
    <mat-checkbox *ngFor="let shoeType of shoeTypes"
        [value]="shoeType"
        (change)="onShoeTypeChange($event)">
        {{ shoeType }}
    </mat-checkbox>

    <hr class="horizontal-bar">

    <h3>Website</h3>
    <mat-form-field>
        <mat-select
            placeholder="Select Website"
            [(ngModel)]="selectedWebsite"
            (selectionChange)="onWebsiteChange($event)">
            <mat-option *ngFor="let website of websites" [value]="website.name">
            {{ website.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <hr class="horizontal-bar">

    <h3>Brand</h3>
    <mat-form-field>
        <input matInput
            type="text"
            placeholder="Enter Brand"
            [(ngModel)]="selectedBrand"
            (ngModelChange)="onBrandChange($event)">
    </mat-form-field>

    <hr class="horizontal-bar">

    <h3>Color</h3>
    <input type="color"
        [(ngModel)]="selectedColor"
        (ngModelChange)="onColorChange($event)">

    <hr class="horizontal-bar">

    <button mat-raised-button
        color="primary"
        (click)="onApplyFilters()">
        Apply Filters
    </button>
</mat-card>