.filter-container {
    margin: 2rem;
    padding: 1rem;
    min-width: 300px;
}

.horizontal-bar {
    width: 100%;
    height: 0.5px;
    background-color: #000;
    margin: 16px 0;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.value-label {
    font-size: 1.1rem;
    font-weight: 500;
}
